@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology and development classes.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <style>
        .btn-new {
            color: #ffffff;
            background-color: #ffa500;
            border-color: #cccccc;
        }
    </style>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a class="btn btn-new" href="https://go.microsoft.com/fwlink/?LinkId=301865">Class List &raquo;</a></h2>
        <p>
            See all our class offerings
        </p>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-new" href="https://go.microsoft.com/fwlink/?LinkId=301866">Your Enrolled Classes &raquo;</a></h2>
        <p>See what classes you are enrolled in.</p>
    </div>
    <div class="col-md-4">
        <h2><a class="btn btn-new" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></h2>
        <p>Take a new class.</p>
    </div>
</div>